@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.cart {
    background-color: white;
    border-radius: v.$radius;
    padding: 20px;
    @include m.flex-center;
    align-items: center;
    flex-direction: column;

    &__title {
        align-self: flex-start;
        color: var(--red);
    }

    .item__quantity-number {
        color: var(--red);
        font-weight: 600;
    }


    &__order{
        @include m.red-btn;
    }

    &__items {
        width: 100%;
    }

    &__footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
        align-content: space-between;
    }

    &__total{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        @include m.flex-center;
        background-color: var(--rose-100);
        padding: 10px;
        border-radius: 10px;
        gap: 5px;
    }
   
}

.info{
    color: var(--rose-400);

}


.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    &__remove-button{
        border: 1.5px solid var(--rose-300);
        border-radius: 50%;
        padding: 1px;
    }

    &__details {
        display: inline-flex;
        gap: 15px;
        color: var(--rose-400);
        font-weight: 300;
    }

    &__total-price {
        color: var(--rose-500);
        font-weight: 500;
    }

}
