@use "../abstracts/mixins" as m;

.cart {
    background-color: white;
    border-radius: 12px;
    padding: inherit;
    @include m.flex-center;
    align-items: flex-start;
    flex-direction: column;

    &__order{
        @include m.red-btn;
    }
}

.item__remove-button{
    border: 1.5px solid var(--rose-300);
    border-radius: 50%;
    padding: 1px;
}


