@use "../abstracts/variables.scss" as v;
@use "../abstracts/mixins" as m;

.product-card {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;


  &__image {
    width: 100%;
    border-radius: v.$radius;
  }

  &__category {
    color: var(--rose-300);
    font-size: 0.8rem;
  }

  &__name {
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__price {
    color: var(--red);
    font-weight: 700;
    font-size: 1rem;
  }

  &__btn {
    @include m.flex-center;
    gap: 5px;
    position: relative;
    top: -30px;


    margin-top: auto;
    padding: 0.6rem 1.6rem;
    background: white;
    border: 1px solid var(--rose-900);
    border-radius: 50px;
    width: fit-content;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}
