@use "../abstracts/variables.scss" as v;
@use "../abstracts/mixins" as m;



.product-card {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__header{
    @include m.flex-center;
    flex-direction: column;
  }

  &__image {
    width: 100%;
    border-radius: v.$radius;
  }

  &__category {
    color: var(--rose-300);
    font-size: 15px;
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
  }

  &__price {
    color: var(--red);
    font-weight: 700;
    font-size: 16px;
  }

  &__btn {
    @include m.flex-center;
    gap: 5px;
    margin-top: -20px;
    padding: 0.6rem 1.6rem;
    background: white;
    border: 1px solid var(--rose-900);
    border-radius: 50px;
    width: fit-content;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      opacity: 1;
    }
  }

  &__btn--added{
    background-color: var(--red);
    color: white;
    border: 1px solid var(--red);
    gap: 30px;

    .btn-quantity{
      border-radius: 50%;
      background: inherit;
      border: 1px solid white;
      padding: 2px;
      display: inline-flex;
    }

    .decrement{
      padding: 6px 2px;
    }
  }
}
