body {
  background-color: var(--rose-50);
}

.container {
  padding: 1rem;
  background-color: var(--rose-50);
  min-height: 100vh;
  height: 100%;
}

hr {
  background-color: var(--rose-100);
  height: 1px;
  border: none;
}

// Tablet
@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .product-list {
    display: grid;
    grid-template-areas: "div div div";
    gap: 20px;
    grid-template-columns: repeat(3, 200px);
  }

  .cart {
    width: 80%;
  }
}

// Desktop
@media (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 100px 0;
    
  }

  .product-list {
    grid-template-columns: repeat(3, 250px);
  }

  .cart {
    width: auto;
  }
}


// active state

button.product-card__btn:hover {
    border: 1px solid var(--red);
    color: var(--red);
}
button.cart__order:hover {
    filter: brightness(0.8);
}
button.btn-counter:hover {
  // invert color red <--> white
  background-color: white;
  color: var(--red);
  border: 1px solid black;

  img{
    filter: invert(1);
  }
}

button.item__remove-button:hover {
  filter: invert(1);
}