body {
  background-color: var(--rose-100);
}

.container {
  padding: 1rem;
  background-color: var(--rose-100);
  min-height: 100vh;
  height: 100%;
}

hr {
  background-color: var(--rose-100);
  height: 1px;
  border: none;
}

// Tablet
@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .product-list {
    display: grid;
    grid-template-areas: "div div div";
    gap: 20px;
    grid-template-columns: repeat(3, 200px);
  }

  .cart {
    width: 80%;
  }
}

// Desktop
@media (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 100px;

  }

  .product-list {
    grid-template-columns: repeat(3, 250px);
  }

  .cart {
    width: auto;
  }
}