@font-face {
    font-family: "RedHatText";
    src: url("/assets/fonts/RedHatText-VariableFont_wght.ttf");
    font-weight: 500, 600, 700;
}

body{
    font-weight: 500;
}

h3{
    font-size: 16px;
    font-weight: 700;
}